body {
    font-size: 62.5%;
    margin-right: auto; 
    margin-left:  auto; 
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

aside {
    text-align: center;
}

figure img {
    max-width: 50%;
}

nav ul {
    list-style: none;
    padding-left: 0rem;
}

nav ul li {
    padding-bottom: 1rem;
}

.individualCard {
    width: 30rem;
    margin: 20px;
    border: ridge 2px;
    border-radius: 50px;
    display: flex; 
    flex-direction: column; 
    text-align: center;

  }

.topCardPart {
    font-size: 1rem;
    color: white;
    border-radius: 50px 50px 0 0;
    padding: 2rem;
    margin: 0;
}

.bottomCardPart {
    text-align: center;
    font-size: 0.5rem;
}

a {
    text-decoration: none;
    color: darkkhaki;
}

#firstCard {
    background-color: forestgreen;
}

#secondCard {
    background-color: darksalmon;
}

#thirdCard {
    background-color: dimgray;
}

#tweetimg {
    max-width: 10%;
}