.Button {
    align-items: center;
    background: #666;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    height: 50px;
    justify-content: center;
    width: 50px;
    color: white;
    border: 0.2px solid darkgrey;
  }
  
  .Button :active {
      background-color: darkmagenta;
  }

  .Button.zero {
    width: 250px;
    grid-column: 1 / span 2;
    position: relative;
    justify-content: flex-start;
    padding-left: 20px;
    width: auto;
  }
  
  .Button.function {
    color: black;
    background: #777;
  }
  
  .Button.operator {
    background: #f1a33c;
  }